<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZv4Wr9cVynNg_VMXkhW-2D2NRfkqyIbY</string>
	<key>GCM_SENDER_ID</key>
	<string>594512783959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newFlutter</string>
	<key>PROJECT_ID</key>
	<string>my-cool-proj11</string>
	<key>STORAGE_BUCKET</key>
	<string>my-cool-proj11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594512783959:ios:c68d6917b223c0628d9112</string>
</dict>
</plist>